<div id="<%= dom_id(question) %>" class="question">
  <%= turbo_stream_from dom_id(question) %>
  <p class="user-question"><%= question.user_question %></p>
  <p class="ai-answer">
    <% if question.ai_answer.present? %>
      <%= question.ai_answer %>
    <% else %>
      <span class="typing">
        <span></span>
        <span></span>
        <span></span>
      </span>
    <% end %>
  </p>
</div>
